    <div class="inner-detail">
      <div class="left-sliders">
        <div class="image-display">
          <img
            src="https://cdn.prod.website-files.com/67f4ea3ec31bfd1ce606f755/68071f9b766ec627b5c6299a_wireless-Photoroom-1.png"
            loading="lazy"
            width="566"
            height="576"
            alt=""
            srcset="
              https://cdn.prod.website-files.com/67f4ea3ec31bfd1ce606f755/68071f9b766ec627b5c6299a_wireless-Photoroom-1-p-500.png 500w,
              https://cdn.prod.website-files.com/67f4ea3ec31bfd1ce606f755/68071f9b766ec627b5c6299a_wireless-Photoroom-1.png       566w
            "
            sizes="(max-width: 566px) 100vw, 566px"
            class="pr-inner-image"
          />
        </div>
        <div class="images-window">
          <div class="dot-indicator">
            <div class="frame-220"><div class="dot-22"></div></div>
            <div class="dot-23"></div>
            <div class="dot-23"></div>
            <div class="dot-23"></div>
            <div class="dot-23"></div>
          </div>
          <div class="image-indicator">
            <div class="pr-image pr-image-active">
              <img
                src="https://cdn.prod.website-files.com/67f4ea3ec31bfd1ce606f755/68071f9b9633c27948537814_4k-tripple-Photoroom-1.png"
                loading="lazy"
                width="Auto"
                height="Auto"
                alt=""
                class="pr-inner-image"
              />
            </div>
            <div class="pr-image">
              <img
                src="https://cdn.prod.website-files.com/67f4ea3ec31bfd1ce606f755/67f4ee11213f3f8e60ddb8da_41XWCbvwy1L._AC_-Photoroom-1.png"
                loading="lazy"
                width="Auto"
                height="Auto"
                alt=""
                class="pr-inner-image"
              />
            </div>
            <div class="pr-image">
              <img
                src="https://cdn.prod.website-files.com/67f4ea3ec31bfd1ce606f755/67f4ee11213f3f8e60ddb8da_41XWCbvwy1L._AC_-Photoroom-1.png"
                loading="lazy"
                width="100"
                height="Auto"
                alt=""
                class="pr-inner-image"
              />
            </div>
            <div class="pr-image">
              <img
                src="https://cdn.prod.website-files.com/67f4ea3ec31bfd1ce606f755/67f4ed9a80e384bd8432fda5_eyeglasses-1.png"
                loading="lazy"
                width="Auto"
                height="Auto"
                alt=""
                class="pr-inner-image"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="right-content">
        <div class="logo-pr">Logo</div>
        <div class="pr-title">Smart HUD Glasses</div>
        <div class="review-box-ctm">
          <div class="review-no-box">
            <div class="review-no">13 Reviews</div>
            <img
              src="https://cdn.prod.website-files.com/67f4ea3ec31bfd1ce606f755/68071f9bde7f5804299f1460_Frame-10.svg"
              loading="lazy"
              width="138.842041015625"
              height="22.5789852142334"
              alt=""
              class="star-box"
            />
          </div>
          <div class="price"><div class="text">$270</div></div>
        </div>
        <div class="desc-wrapper">
          <div class="short-desc">
            The Triple 4K Display Docking Station is designed to take your
            visual experience to....
            <span class="see-detail-btn">Full detailes</span>
          </div>
        </div>
        <div class="box-div">
          <div class="box-title">Color</div>
          <div class="color-div">
            <div class="frame-158"><div class="dot-18"></div></div>
            <div class="dot-19"></div>
            <div class="dot-20"></div>
            <div class="dot-21"></div>
          </div>
        </div>
        <div class="box-div"><div class="box-title">Quantity</div></div>
        <div class="btn-wrapper">
          <div class="add-cart-btn">
            <img
              src="https://cdn.prod.website-files.com/67f4ea3ec31bfd1ce606f755/68071f9be628045ba1a2e6b2_Frame.svg"
              loading="lazy"
              width="18"
              height="18"
              alt=""
              class="cart-icon"
            />
            <div class="button-label">Add To Cart</div>
          </div>
          <div class="cart-2"><div class="btn-label-2">Buy It Now</div></div>
        </div>
        <div class="trust-box">
          <div class="trust-title">
            Guaranteed Quality &amp; Secure Shopping!
          </div>
          <div class="badge-list">
            <div class="item-box">
              <div class="badge-box">
                <img
                  src="https://cdn.prod.website-files.com/67f4ea3ec31bfd1ce606f755/68071f9be495062fc7ca590d_Frame.svg"
                  loading="lazy"
                  width="32"
                  height="32"
                  alt=""
                  class="badge-icons"
                />
              </div>
              <div class="badge-title">Fast &amp; Free Shipping</div>
            </div>
            <div class="item-box">
              <div class="badge-box">
                <img
                  src="https://cdn.prod.website-files.com/67f4ea3ec31bfd1ce606f755/68071f9bf5887312df552dee_Frame.svg"
                  loading="lazy"
                  width="32"
                  height="32"
                  alt=""
                  class="badge-icons"
                />
              </div>
              <div class="badge-title">Secure Checkout</div>
            </div>
            <div class="item-box">
              <div class="badge-box">
                <img
                  src="https://cdn.prod.website-files.com/67f4ea3ec31bfd1ce606f755/68071f9b814b1da8e33c56d5_Frame.svg"
                  loading="lazy"
                  width="32"
                  height="32"
                  alt=""
                  class="badge-icons"
                />
              </div>
              <div class="badge-title">30-Day Warranty</div>
            </div>
            <div class="item-box">
              <div class="badge-box">
                <img
                  src="https://cdn.prod.website-files.com/67f4ea3ec31bfd1ce606f755/68071f9b65c61b719dbb4d07_Frame.svg"
                  loading="lazy"
                  width="32"
                  height="32"
                  alt=""
                  class="badge-icons"
                />
              </div>
              <div class="badge-title">24/7 Customer Support</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% schema %}
    {
      "name": "product_hero",
      "tag": "section",
      "class": "product-hero",
      "settings": [
       
      ],
      "presets": [
        {
          "name": "Product Hero",
          "category": "Custom"
        }
      ]
    }
    {% endschema %}