<section class="testimony">
    <div class="title-box">
      <div class="title-style">Our Happy Customers</div>
    </div>
    <div class="cate-list">
      <div class="list-4">
        {% for block in section.blocks %}
          <div class="client-box{% if forloop.index > 1 %}-2{% endif %}">
            <img
              src="https://cdn.prod.website-files.com/67f4ea3ec31bfd1ce606f755/67f4eece4f553428ede0febc_stars.svg"
              loading="lazy"
              width="138"
              height="23"
              alt="stars"
              class="stars"
            />
            <div class="review-box-2">
              <div class="name-box">
                <div class="text-6">{{ block.settings.name }}</div>
                <img
                  src="https://cdn.prod.website-files.com/67f4ea3ec31bfd1ce606f755/67f4eece2047d86831e725a3_Frame.svg"
                  loading="lazy"
                  width="24"
                  height="24"
                  alt="avatar-icon"
                  class="left"
                />
              </div>
              <div class="role">
                <div class="text-7">{{ block.settings.role }}</div>
              </div>
              <div class="review">
                <div class="text-8">"{{ block.settings.message }}"</div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
</section>

  
  {% schema %}
  {
    "name": "Testimony",
    "tag": "section",
    "class": "testimony",
    "settings": [],
    "blocks": [
      {
        "type": "testimonial",
        "name": "Testimonial",
        "settings": [
          {
            "type": "text",
            "id": "name",
            "label": "Customer Name",
            "default": "Alex R."
          },
          {
            "type": "text",
            "id": "role",
            "label": "Customer Role",
            "default": "Techwear Enthusiast"
          },
          {
            "type": "textarea",
            "id": "message",
            "label": "Review Message",
            "default": "This store perfectly combines futuristic fashion with high-quality gadgets."
          }
        ]
      }
    ],
    "max_blocks": 10,
    "presets": [
      {
        "name": "Testimony",
        "category": "Custom",
        "blocks": [
          {
            "type": "testimonial"
          },
          {
            "type": "testimonial"
          }
        ]
      }
    ]
  }
  {% endschema %}
  