
    <div class="top-box">
      <div class="sec-headline-2">Specifications</div>
      <div class="sec-subtext-2">
        Everything you need to know under the hood.
      </div>
    </div>
    <div class="contents-center">
      <div class="spec-col">
        <div class="spec-item">
          <div class="spec-title-active">
            <div class="frame-217">
              <img
                src="https://cdn.prod.website-files.com/67f4ea3ec31bfd1ce606f755/680722fe95dbb312db5654f8_Frame.svg"
                loading="lazy"
                width="24"
                height="24"
                alt=""
                class="frame-style-6"
              />
            </div>
            <div class="title-style-22">Display &amp; Optics</div>
          </div>
          <ul role="list" class="item-desc-box">
            <li>
              <div class="item-details">
                <div class="title-style-23">
                  <strong class="strong-txt">Screen Type:</strong> Dual
                  Micro-OLED displays
                </div>
              </div>
            </li>
            <li>
              <div class="item-details">
                <div class="title-style-23">
                  <strong class="strong-txt">Resolution:</strong> Full HD (per
                  eye)
                </div>
              </div>
            </li>
            <li>
              <div class="item-details">
                <div class="title-style-23">
                  <strong class="strong-txt">Field of View:</strong> 45°
                  diagonal
                </div>
              </div>
            </li>
            <li>
              <div class="item-details">
                <div class="title-style-23">
                  <strong class="strong-txt">Lens Adjustment:</strong> Diopter
                  support (-6.0D to 0.0D)
                </div>
              </div>
            </li>
            <li>
              <div class="item-details">
                <div class="title-style-23">
                  <strong class="strong-txt">Brightness:</strong> High
                  visibility in daylight
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  {% schema %}
  {
    "name": "product_specifications",
    "tag": "section",
    "class": "specification",
    "settings": [
     
    ],
    "presets": [
      {
        "name": "Product specifications",
        "category": "Custom"
      }
    ]
  }
  {% endschema %}