<section class="subscribe">
    <div class="form-box">
      <div class="title-box-2">
        <div class="title-style-17">Subscribe to get 10% OFF</div>
        <div class="subtext-6">
          Subscribe for store updates and discounts.
        </div>
      </div>
      <div class="email-box">
        <div class="email-inputs">Email</div>
        <div class="cta-btn-8">
          <div class="label-style-12">Subscribe →</div>
        </div>
      </div>
    </div>
  </section>
  {% schema %}
{
  "name": "Subscribe",
  "tag": "section",
  "class": "Subscribe",
  "settings": [
   
  ],
  "presets": [
    {
      "name": "Subscribe",
      "category": "Custom"
    }
  ]
}
{% endschema %}