<footer class="footer">
    <div class="frame-52">
      <div class="frame-163">
        <div class="help-menu">Logo</div>
        <div class="link-style">
          We offer a wide range of products to make shopping easy, convenient,
          and enjoyable. Quality and customer satisfaction are our top
          priorities.
        </div>
        <div class="link-style-2">Lean More →</div>
      </div>
      <div class="frame-54">
        <div class="help-menu-2">Links</div>
        <div class="link-box">
          <div class="link-style-3">Home</div>
          <div class="link-style-3">Shop</div>
          <div class="link-style-3">Collections</div>
          <div class="link-style-3">ContactUs</div>
        </div>
      </div>
      <div class="frame-54">
        <div class="help-menu-2">Pages</div>
        <div class="link-box">
          <div class="link-style-3">My Account</div>
          <div class="link-style-3">FAQ</div>
          <div class="link-style-3">Terms &amp; Conditions</div>
          <div class="link-style-3">Privacy Policy</div>
        </div>
      </div>
      <div class="frame-54">
        <div class="help-menu-2">Social</div>
        <div class="social">
          <img
            src="https://cdn.prod.website-files.com/67f4ea3ec31bfd1ce606f755/67f4ef4e7215c483ada74052_1.svg"
            loading="lazy"
            width="28"
            height="28"
            alt=""
            class="_1"
          /><img
            src="https://cdn.prod.website-files.com/67f4ea3ec31bfd1ce606f755/67f4ef4eed08d5d15e0d0146_2.svg"
            loading="lazy"
            width="28"
            height="28"
            alt=""
            class="_1"
          /><img
            src="https://cdn.prod.website-files.com/67f4ea3ec31bfd1ce606f755/67f4ef4e2bf5564adcc90561_3.svg"
            loading="lazy"
            width="28"
            height="28"
            alt=""
            class="_1"
          /><img
            src="https://cdn.prod.website-files.com/67f4ea3ec31bfd1ce606f755/67f4ef4e0b958a0db5521eac_4.svg"
            loading="lazy"
            width="28"
            height="28"
            alt=""
            class="_1"
          />
        </div>
      </div>
    </div>
    <div class="frame-128">
      <div class="_2000-2021-all-rights-reserved">
        Logo ©2025, All Rights Reserved
      </div>
      <div class="frame-53">
        <img
          src="https://cdn.prod.website-files.com/67f4ea3ec31bfd1ce606f755/67f4ef4e2047d86831e7b836_Badge.svg"
          loading="lazy"
          width="46.61428451538086"
          height="30.030357360839844"
          alt=""
          class="badge"
        /><img
          src="https://cdn.prod.website-files.com/67f4ea3ec31bfd1ce606f755/67f4ef4e169c3b75cdfc6985_Badge.svg"
          loading="lazy"
          width="46.61428451538086"
          height="30.030357360839844"
          alt=""
          class="badge"
        /><img
          src="https://cdn.prod.website-files.com/67f4ea3ec31bfd1ce606f755/67f4ef4e4a89fb7ab0361c48_Badge.svg"
          loading="lazy"
          width="46.61428451538086"
          height="30.030357360839844"
          alt=""
          class="badge"
        /><img
          src="https://cdn.prod.website-files.com/67f4ea3ec31bfd1ce606f755/67f4ef4e3186290c4a2a4a47_Badge.svg"
          loading="lazy"
          width="46.61428451538086"
          height="30.030357360839844"
          alt=""
          class="badge"
        /><img
          src="https://cdn.prod.website-files.com/67f4ea3ec31bfd1ce606f755/67f4ef4e4d85d83bda540e5b_Badge.svg"
          loading="lazy"
          width="46.61428451538086"
          height="30.030357360839844"
          alt=""
          class="badge"
        />
      </div>
    </div>
  </footer>
  {% schema %}
{
  "name": "Footer",
  "tag": "section",
  "class": "Footer",
  "settings": [
   
  ],
  "presets": [
    {
      "name": "Footer",
      "category": "Custom"
    }
  ]
}
{% endschema %}