<section class="cta-sec">
    <div class="cta-box-2">
      <img
        src="https://cdn.prod.website-files.com/67f4ea3ec31bfd1ce606f755/67f4ef148aa89a2ce8a52e8d_Mockups.svg"
        loading="lazy"
        width="568.232421875"
        height="545.75390625"
        alt=""
        class="mockups"
      />
      <div class="cta-contents">
        <div class="headline-cta">Shop Smarter, Live Better</div>
        <div class="subheadline-cta">
          Experience a seamless shopping journey with [Your Store Name] –
          where convenience meets unbeatable deals.
        </div>
        <div class="cta-btn-7">
          <div class="label-style-11">Shop Now →</div>
        </div>
      </div>
    </div>
  </section>
  {% schema %}
{
  "name": "Cta-Section",
  "tag": "section",
  "class": "Cta-Section",
  "settings": [
   
  ],
  "presets": [
    {
      "name": "Cta-Section",
      "category": "Custom"
    }
  ]
}
{% endschema %}