<section class="collections">
    <div class="title-style">Explore Our Curated Collections</div>
    <div class="collection-items">
      <div class="row">
        <div class="item-4">
          <div class="tag-4">
            <div class="title-style-14">Tech Wear</div>
          </div>
          <img
            src="https://cdn.prod.website-files.com/67f4ea3ec31bfd1ce606f755/67f5378a0ccde707c51cf304_61I1JGOL8aL._AC_SX466_-Photoroom.png"
            loading="lazy"
            alt=""
            class="image-4"
          />
        </div>
        <div class="item-5">
          <div class="tag-4">
            <div class="title-style-14">Trending Gadgets</div>
          </div>
          <img
            src="https://cdn.prod.website-files.com/67f4ea3ec31bfd1ce606f755/67f4eeaaa16b25f40a56134d_img-bg.svg"
            loading="lazy"
            width="249.13491821289062"
            height="223.68212890625"
            alt=""
            class="image-4"
          />
        </div>
      </div>
      <div class="row">
        <div class="item-5">
          <div class="tag-4">
            <div class="title-style-14">Audio &amp; Accessories</div>
          </div>
          <img
            src="https://cdn.prod.website-files.com/67f4ea3ec31bfd1ce606f755/67f4eeaae812c2258728558a_img.png"
            loading="lazy"
            width="180.03077697753906"
            height="218.58126831054688"
            alt=""
            class="image-4"
          />
        </div>
        <div class="item-6">
          <div class="tag-4">
            <div class="title-style-14">Gaming &amp; Streaming</div>
          </div>
          <img
            src="https://cdn.prod.website-files.com/67f4ea3ec31bfd1ce606f755/67f4eeaacf10d5037ede9783_img.png"
            loading="lazy"
            width="257.15093994140625"
            height="316"
            alt=""
            class="image-4"
          />
        </div>
      </div>
    </div>
  </section>

  {% schema %}
{
  "name": "Collections",
  "tag": "section",
  "class": "Collections",
  "settings": [
   
  ],
  "presets": [
    {
      "name": "Collections",
      "category": "Featured"
    }
  ]
}
{% endschema %}