<section class="lifestyle-sec">
    <div class="title-style">
      {{ section.settings.title }}
    </div>
    <div class="life-box">
      <div class="left-content">
        <div class="contents">
          {% for block in section.blocks %}
            {% if block.type == "collapse_item" %}
              {% render 'collapsable', settings:block.settings %}
            {% endif %}
          {% endfor %}
        </div> 
        <div class="cta-btn-6">
          <div class="label-style-10">Shop the Future Now →</div>
        </div>
      </div>
      {% render 'ctm-slideShow' settings:section.settings, blocks:section.blocks %}
      
    </div>
  </section>

  {% schema %}
  {
    "name": "Custom Gallery",
    "tag": "section",
    "class": "custom-gallery",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Title"
      },
      {
        "type": "checkbox",
        "id": "autoplay",
        "label": "Enable autoplay",
        "default": true
      },
      {
        "type": "range",
        "id": "delay",
        "label": "Slide delay (seconds)",
        "min": 1,
        "max": 100,
        "step": 1,
        "default": 3,
        "unit": "s"
      },
      {
        "type": "select",
        "id": "transition",
        "label": "Transition effect",
        "options": [
          {
            "value": "fade",
            "label": "Fade"
          },
          {
            "value": "slide",
            "label": "Slide"
          }
        ],
        "default": "fade"
      }
    ],
    "blocks": [
      {
        "type": "collapse_item",
        "name": "Collapse Item",
        "settings": [
          {
            "type": "text",
            "id": "question",
            "label": "Question",
            "default": "How can I track my order?"
          },
          {
            "type": "textarea",
            "id": "answer",
            "label": "Answer",
            "default": "From AI-driven smart wear to cutting-edge wearables, experience the technology redefining daily life."
          },
          {
            "type": "checkbox",
            "id": "active",
            "label": "Active by default",
            "default": false
          }
        ]
      },
      {
        "type": "slide",
        "name": "Slide",
        "settings": [
          {
          "type": "image_picker",
          "id": "slide_image",
          "label": "Image",
          },
           
        ]
      }
    ],
    "presets": [
      {
        "name": "Custom Gallery",
        "category": "Image",
        "blocks": [
          {
            "type": "collapse_item"
          },
          {
            "type": "slide",
          }

        ]
      }
    ]
  }
  {% endschema %}