<section class="lifestyle-sec">
    <div class="title-style">
      Level up your lifestyle with the latest tech
    </div>
    <div class="life-box">
      <div class="left-content">
        <div class="contents">
          <div class="frame-135">
            <div class="accordon">
              <div class="accordon-label">Next-Gen Innovation</div>
              <div class="icon-close">
                <img
                  src="https://cdn.prod.website-files.com/67f4ea3ec31bfd1ce606f755/67f4ee726bb73c6c43a83b19_Vector.svg"
                  loading="lazy"
                  alt=""
                  height="Auto"
                  class="icon-x"
                />
              </div>
            </div>
            <div class="item-3">
              <div class="title-style-12">
                From AI-driven smart wear to cutting-edge wearables,
                experience the technology redefining daily life.
              </div>
            </div>
          </div>
          <div class="accordon-2">
            <div class="accordon-label">Designed for Performance</div>
            <div class="frame-style-3">
              <img
                src="https://cdn.prod.website-files.com/67f4ea3ec31bfd1ce606f755/67f4ee728b743aa3456b2b17_Vector.svg"
                loading="lazy"
                width="Auto"
                height="Auto"
                alt=""
                class="icon-x"
              />
            </div>
          </div>
          <div class="divider"></div>
          <div class="accordon-2">
            <div class="accordon-label">Tech Meets Sustainability</div>
            <div class="frame-style-3">
              <img
                src="https://cdn.prod.website-files.com/67f4ea3ec31bfd1ce606f755/67f4ee728b743aa3456b2b17_Vector.svg"
                loading="lazy"
                width="14"
                height="13.999999046325684"
                alt=""
                class="icon-x"
              />
            </div>
          </div>
          <div class="divider"></div>
          <div class="accordon-2">
            <div class="accordon-label">
              How can I contact customer support?
            </div>
            <div class="frame-style-3">
              <img
                src="https://cdn.prod.website-files.com/67f4ea3ec31bfd1ce606f755/67f4ee728b743aa3456b2b17_Vector.svg"
                loading="lazy"
                width="14"
                height="13.999999046325684"
                alt=""
                class="icon-x"
              />
            </div>
          </div>
        </div>
        <div class="cta-btn-6">
          <div class="label-style-10">Shop the Future Now →</div>
        </div>
      </div>
      <div class="img-slides">
        <img
          src="https://cdn.prod.website-files.com/67f4ea3ec31bfd1ce606f755/67f4ee7272636f90f6b44aa1_img.png"
          loading="lazy"
          width="283.9275207519531"
          height="538"
          alt=""
          class="image-wear"
        />
        <div class="buttons">
          <div class="dot-11">
            <img
              src="https://cdn.prod.website-files.com/67f4ea3ec31bfd1ce606f755/67f4ee4580e384bd84331019_Frame.svg"
              loading="lazy"
              width="24"
              height="24"
              alt=""
              class="frame-style-4"
            />
          </div>
          <div class="dot-11">
            <img
              src="https://cdn.prod.website-files.com/67f4ea3ec31bfd1ce606f755/67f4ee45e19d4cb7e62a89de_Frame.svg"
              loading="lazy"
              width="24"
              height="24"
              alt=""
              class="frame-style-4"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
  {% schema %}
{
  "name": "Custom-Gallery",
  "tag": "section",
  "class": "Custom-Gallery",
  "settings": [
   
  ],
  "presets": [
    {
      "name": "Custom-Gallery",
      "category": "Custom"
    }
  ]
}
{% endschema %}