
    <div class="left-image">
      <img
        src="https://cdn.prod.website-files.com/67f4ea3ec31bfd1ce606f755/680ddef40996393aaffcd434_card.png"
        loading="lazy"
        sizes="(max-width: 1041px) 100vw, 1041px"
        srcset="
          https://cdn.prod.website-files.com/67f4ea3ec31bfd1ce606f755/680ddef40996393aaffcd434_card-p-500.png  500w,
          https://cdn.prod.website-files.com/67f4ea3ec31bfd1ce606f755/680ddef40996393aaffcd434_card-p-800.png  800w,
          https://cdn.prod.website-files.com/67f4ea3ec31bfd1ce606f755/680ddef40996393aaffcd434_card.png       1041w
        "
        alt=""
        class="image-2"
      />
    </div>
    <div class="right-content">
      <div class="card-content-2">
        <div class="sec-title">Limited-Time Offer – Get 20% OFF Today!</div>
        <div class="subtext-9">
          Hurry! This exclusive discount won’t last forever
        </div>
        <div class="subtext-9">
          Order now &amp; get:  ✔ FREE shipping on all orders  ✔ Extended
          30-Days Warranty (Limited Offer!)
        </div>
        <div class="cta-btn-9">
          <div class="label-style-13">Claim Now (02:13:45)</div>
        </div>
      </div>
    </div>


  {% schema %}
  {
    "name": "product_dicount_cta",
    "tag": "section",
    "class": "pr-cta",
    "settings": [
     
    ],
    "presets": [
      {
        "name": "Product Discount CTA",
        "category": "Custom"
      }
    ]
  }
  {% endschema %}