<div>Helo</div>
{% schema %}
{
"name":"Sections Hero",
"tag": "section",
"class": "hero",
"limit": 2,
"settings": [

],
"blocks": [],
"presets": [
    {
    "name": "Item",
    "settings": {}
    }
]
}

{% endschema %}